/* BEGIN of reset */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
ol, ul {
  list-style: none;
}
/* END of reset */

body {
  font-family: 'IBM Plex Mono', monospace;
  color: #fff;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-size: 16px;
  display: flex;
  min-height: 100vh;
  width: 100%;
}

footer a {
  color: white;
  border-bottom: 1px dashed white;
  padding-bottom: 0px;
  text-decoration: none;
  transition: padding 0.25s;
}

footer a:hover {
  padding-bottom: 2px;
}

.section {
  line-height: 1.5;
  padding: 1.5em;
  margin: 1.5em;
}

.brand {
  font-family: 'VT323', monospace;
  font-size: 4em;
  height: 4em;
  width: 4em;
  border-radius: 6em;
  background-color: #fff;
  color: #000;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.apps {
  list-style-type: none;
  display: flex;
  text-align: center;
}

.app {
  background-color: #fff;
  height: 3em;
  width: 3em;
  border-radius: 0.5em;
  padding: 1em;
  color: #000;
}

.app + .app {
  margin-left: 1em;
}

.app a {
  color: #000;
  font-size: 2em;
  font-weight: bold;
  font-family: 'VT323', monospace;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tagline {
  display: inline-block;
  margin: 1em 0;
}

